<%= render partial: "/nodes/breadcrumb" %>

<div class="chart">
  <div class="left">
    <%= render partial: "/charts/editor", locals: { hidden: { previous_text: @chart.previous_text, current_text: @chart.text } } %>
  </div>
  
  <div class="right">
    <%= render partial: "/charts/canvas", locals: { chart: @chart } %>
    <ins data-init="chart-show" data-chart="<%= @chart.to_json %>"></ins>
  </div>
  
  <div class="btn-divider hidden-phone"></div>
</div>
