<%= render partial: "/nodes/breadcrumb" %>

<div class="chart">
  <%= render partial: "/nodes/header" %>
  <%= render partial: "/charts/canvas", locals: { chart: @chart } %>
  <ins data-init="chart-show" data-chart="<%= @chart.to_json %>"></ins>
</div>
