<title>CloudChart</title>
<%= stylesheet_link_tag "application", media: "all" %>
<%= csrf_meta_tags %>

<script type="text/javascript" src="//use.typekit.net/nsy8hjq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
