<div>
  <%= link_to "Linkedin", user_omniauth_authorize_path(provider: :linkedin), class: "btn btn-large btn-primary" %>
  <%= link_to "Facebook", user_omniauth_authorize_path(provider: :facebook), class: "btn btn-large btn-primary" %>
</div>
<hr />
<div>
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
