<div class="chart">
  <div class="left">
    <%= render partial: "/charts/form" %>
  </div>
  
  <div class="right">
    <%= render partial: "/charts/canvas", locals: { chart: @chart } %>
    <ins data-init="chart-show" data-chart="<%= @chart.to_json %>"></ins>
  </div>
  
  <%= button_to "", chart_versions_path(@chart.slug_or_id), method: "get", class: "btn-versions" %>
</div>
