<div class="chart">
  <div class="left">
    <%= render partial: "/charts/editor" %>
  </div>
  
  <div class="right">
    <%= render partial: "/charts/canvas", locals: { chart: @chart } %>
    <ins data-init="chart-show" data-chart="<%= @chart.to_json %>"></ins>
  </div>
  
  <button class="btn-divider"></button>
</div>
