<div class="organization">
  <div class="row-fluid">
    <div class="span3">
      <%= render partial: "/organizations/sidebar" %>
    </div>
    <div class="span9 inner">
      <%= simple_form_for([@organization, @node], url: organization_charts_path(@organization), html: { class: "form-horizontal chart-new", data: { behavior: "chart-new"} }) do |f| %>
        <div class="form-inputs">
          <%= f.input :title, :required => true, :autofocus => true %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, t("organizations.create"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
