<h1><%= @person.name %></h1>

<div>
  <% token = edit_organization_person_url(organization_id: @organization.id, id: @person.identifier, token: @person.token.digest) %>
  <%= link_to "Token", token %>
</div>

<div>
  <button class="btn btn-danger" data-behavior="person-destroy" data-identifier="<%= @person.identifier %>" data-url="<%= organization_person_path(organization_id: @organization.id, id: @person.identifier) %>">Delete</button>
</div>
