<% if @organization.charts.any? %>
  <% @organization.charts.each do |node| %>
    <div class="grid">
      <h3><%= node.title %></h3>
      <%= link_to image_tag("ico-chart-sample.jpg"), organization_chart_path(@organization, node) %>
    </div>
  <% end %>
<% end %>
