/*
 *= require_self
 *= require bootstrap
 *= require_tree .
*/

@import "lesselements.css.less";
@import "mixins.css.less";
@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";
@import "bootstrap.css.less";

/* Config */
@color: #013f5a;

/* Common */
html, body { height: 100%; }
body {
  background: url(bg.png) repeat center center;
  background-size: 96px 96px;
  color: #494b4d;
  
  h1, h2, h3, h4, h5, h6, strong, b {
    font-family: @sansFontFamily;
  }
  
  h1 {
    color: @color;
    font-size: 34px;
    line-height: 34px;
    
    a {
      text-decoration: none;
      color: @color;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  .wrapper {
    width: 86%;
    min-width: 970px;
    margin: 0 auto;
    .clearfix();
  }
  
  header, section, footer {
    position: relative;
  }
  
  header {
    height: 96px;
    .at2x('bg-header.png', 1px, 96px);
    /*.gradient(#013f5a, #006590, #013f5a);*/
    color: #fff;
    font-size: 22px;
    
    .table {
      display: table;
      width: auto;
      height: 96px;
      margin: 0;
      
      .cell {
        display: table-cell;
        vertical-align: middle;
      }
    }
    
    a {
      color: #fff;
      line-height: 36px;
      
      &:hover {
        color: #fff;
      }
    }
    
    figure {
      float: left;
      height: 41px;
      margin: 24px 0 0 7px;
      
      .icon {
        img {
          width: 63px;
          height: 41px;
        }
      }
      
      img {
        width: 246px;
        height: 41px;
      }
    }
    
    .title {
      h1 {
        display: inline-block;
        margin: 13px 0 0 11px;
        color: #fff;
        font-family: @lightSansFontFamily;
        font-weight: normal;
      }
      
      img {
        width: 19px;
        height: 19px;
        margin: -6px 0 0 6px;
      }
    }
    
    .slogan {
      display: block;
      margin: 44px 0 0 32px;
      float: left;
      font-family: @lightSansFontFamily;
      font-size: 25px;
      color: #fff;
    }
    
    .controls {
      padding: 6px 0 0 0;
      height: 90px;
      
      .create {
        img {
          width: 35px;
          height: 35px;
          margin-top: -4px;
        }
      }
    }
    
    .box {
      .box-sizing();
      margin: 0 0 0 10px;
      .rounded(5px);
      .gradient(#016c99, #02638c, #0077a9);
      border: 2px solid #fff;
      padding: 3px 8px 2px 8px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: @lightSansFontFamily;
    }
    
    aside.table {
      text-align: right;
      width: 100%;
      padding: 6px 0 0 0;
      height: 90px;
      
      .profile {
        button {
          width: 192px;
          height: 32px;
          background: url(btn-linkedin.png);
          background-size: 192px 32px;
          border: 0;
          padding: 0;
        }
        
        .sign_out {
          text-transform: none;
        }
        
        .settings {
          padding-left: 10px;
          
          img {
            margin-top: -4px;
            width: 34px;
            height: 34px;
          }
        }
      }
    }
  }
  
  footer {
    background: #79c3e2;
    
    .row-fluid {
      margin: 42px 0 0 0;
      
      .item {
        &:first-child {
          .inner {
            margin-left: 0;
          }
        }
        
        &:last-child {
          .inner {
            margin-left: 10%;
          }
        }
        
        .inner {
          .gradient(#97DEF7, #97DEF7, #C8EEFC);
          .box-sizing();
          .rounded(10px);
          .box-shadow(inset 0px 0 10px rgba(255,255,255,0.3));
          border: 1px solid rgba(255,255,255,.6);
          padding: 36px 50px;
          width: 90%;
          margin: 0 auto;
          text-align: center;
          
          p {
            color: #01405a;
            font-family: @lightSansFontFamily;
            font-size: 26px;
            line-height: 32px;
          }
        }
      }
    }
    
    .nav {
      padding: 38px 0 30px 0;
      
      li {
        &:last-child {
          a:hover {
            text-decoration: none;
          }
        }
        
        a {
          font-family: @lightSansFontFamily;
          color: #fff;
          padding: 0 12px;
          
          &:first-child {
            padding-left: 0;
          }
          
          &:hover {
            background: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  /* Shared */
  .alert {
    display: table;
    width: 100%;
    height: 100%;
    
    h1 {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: #A13224;
    }
  }
  
  .loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    .opacity(75);
    
    .bar {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -32px;
      margin-left: -32px;
    }
  }
  
  /* Autocomplete */
  .-sew-list-container {
    .box-sizing();
    background: white;
    border: 1px solid #bac8cf;
    min-width: 200px;
    max-width: 300px;
    margin: 0;
    padding: 0;
    
    .-sew-list {
      list-style: none;
      margin: 0;
      padding: 0;
      
      .-sew-list-item {
        display: block;
        padding: 3px 6px 3px 6px;
        margin: 0;
        color: #01405a;
        
        &.selected {
          background: #f0f0f0;
        }
        
        img {
          float: left;
          width: 30px;
          height: 30px;
          padding-right: 6px;
        }
        
        h3 {
          font-size: 16px;
          line-height: 17px;
          margin: 0;
        }
        
        p {
          font-size: 12px;
          line-height: 14px;
          margin: 0;
          max-width: 260px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.charts {
  width: 93% !important;
  margin: 35px auto;
  
  .item {
    .inner {
      .box-sizing();
      .rounded(10px);
      padding: 12px;
      min-height: 234px;
      background: #fff2ce;
      text-align: center;
      
      &.create {
        border: 3px solid #fff2ce;
        .at2x('btn-create.png', 35px, 35px);
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
      }
      
      &.placeholder {
        border: 3px solid #fff2ce;
        background: #fff;
      }
      
      h1 {
        margin-top: 1px;
      }
      
      .img {
        display: table;
        width: 100%;
        height: 130px;
        margin: 0 0 15px 0;
        
        a {
          display: table-cell;
          vertical-align: middle;
          
          img {
            max-width: 280px;
            max-height: 130px;
          }
        }
      }
      
      p {
        margin: 0;
        color: @color;
        font-size: 14px;
        
        a {
          img {
            width: 9px;
            height: 9px;
            margin-top: -1px;
            padding-left: 1px;
          }
        }
      }
    }
  }
}

.chart {
  float: left;
  position: relative;
  width: 100%;
  height: 600px;
  
  /* Columns */
  .left {
    .box-sizing();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 600px;
    background: #e9eff2;
    border-right: 1px solid #b7c6cd;
  }
  
  .right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 400px;
  }
  
  .btn-divider {
    position: absolute;
    width: 13px;
    height: 50px;
    left: 400px;
    margin-left: -1px;
    top: 50%;
    margin-top: -25px;
    border: 0;
    background: url(btn-divider.png) no-repeat left top;
    background-size: 13px 50px;
  }
  
  /* Canvas */
  .canvas {
    .box-sizing();
    .rounded(5px);
    position: relative;
    height: 600px;
    background: url(bg.png) #fff repeat center center;
    background-position: fixed;
    background-size: 96px 96px;
    
    #canvas {
      margin: 0 auto;
      
      div {
        width: 100%;
        
        &:last-child {
          /*overflow-x: hidden;*/
        }
      }
    }
  }
  
  /* Editor */
  .editor {
    width: 400px;
    
    h3 {
      padding: 0;
      margin: 0 0 10px 0;
    }
    
    .buttons {
      margin: 12px 0 12px 35px;
      height: 20px;
      
      .btn {
        height: 20px;
        line-height: 10px;
        text-transform: uppercase;
        font-size: 12px;
        padding: 4px 6px;
        color: #01405a;
        text-shadow: none;
        .gradient(#e2eaee, #d2dee3, #f5f8fa);
        .rounded(3px);
        border: 1px solid #b2c5cf;
        box-shadow: none;
        margin-right: 5px;
        
        &:hover {
          .gradient(#e2eaee, #d2dee3, #e2eaee);
        }
        
        &.selected{
          .gradient(#e2eaee, darker(#d2dee3, 20), darker(#e2eaee, 20));
        }
        
        span {
          &.r {
            display: inline-block;
            .rotate(90deg);
          }
        }
      }
    }
    
    .text {
      .clearfix();
      position: absolute;
      overflow: auto;
      top: 44px;
      bottom: 0px;
      width: 100%;
      
      ul {
        .box-sizing();
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        width: 35px;
        margin: 0;
        padding: 0;
        -webkit-padding-start: 0;
        list-style: none;
        list-style-type: none;
        
        li {
          .box-sizing();
          padding: 0 15px 0 15px;
          text-align: right;
          line-height: 24px;
          font-size: 12px;
          font-family: @lightSansFontFamily;
          color: #01405a;
        }
      }
      
      form {
        margin: 0;
      }
      
      .edit {
        .box-sizing();
        .box-shadow(none);
        display: block;
        float: right;
        width: 100%;
        padding: 0 0 0 35px;
        margin: 0;
        background: none;
        border: 0;
        line-height: 24px;
        font-size: 18px;
        color: #01405a;
        
        -moz-tab-size: 2;
        -o-tab-size: 2;
        -webkit-tab-size: 2;
        tab-size: 2;
      }
      
      .edit-sample {
        -moz-tab-size: 2;
        -o-tab-size: 2;
        -webkit-tab-size: 2;
        tab-size: 2;
      }
    }
    
    input[type="submit"] {
      margin: 10px 0;
    }
  }
}