/*
 *= require_self
 *= require_tree .
*/

@import "mixins";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/text/ellipsis";
@import "compass/css3/opacity";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/border-radius";

/* Shared */
header {
  @include box-sizing(border-box);
  height: 130px;
  background: #e8e8e8;
  border-bottom: 1px solid #eeeeee;
  
  .logo {
    float: left;
    height: 64px;
    margin: 33px 0 0 30px;
    
    img {
      width: 96px;
      height: 64px;
      vertical-align: top;
    }
    
    h1 {
      display: inline-block;
      margin: 0 0 0 22px;
      line-height: 64px;
      vertical-align: top;
      font-size: 44px;
      font-weight: 300;
      color: #000;
    }
  }
  
  .search {
    float: left;
    position: relative;
    height: 64px;
    margin: 33px 0 0 48px;
    
    form {
      margin: 0;
      
      input {
        @include box-sizing(border-box);
        @include box-shadow(none);
        @include border-radius(7px);
        @include input-placeholder(#aaa);
        width: 394px;
        height: 64px;
        line-height: 64px;
        border-color: #cdcdcd;
        border-width: 2px 0 0 0;
        color: #aaa;
        font-size: 22px;
        font-weight: 300;
        padding: 0 0 0 60px;
        
        &:focus {
          @include box-shadow(none);
          border-color: #cdcdcd;
        }
      }
      
      button {
        position: absolute;
        top: 17px;
        left: 15px;
        width: 30px;
        height: 30px;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        
        i {
          font-size: 29px;
        }
      }
    }
  }
  
  .profile {
    float: right;
    width: 72px;
    height: 72px;
    margin: 29px 20px 0 0;
  }
  
  .menu {
    float: right;
    width: 72px;
    height: 72px;
    margin: 29px 20px 0 0;
    
    img {
      width: 72px;
      height: 72px;
    }
    
  }
}

/* Welcome */
.welcome {
  margin: 20px;
  
  .buttons {
    text-align: center;
  }
}

/* Persons */
.persons {
  float: left;
  margin: 20px;
  width: 300px;
  
  .form-search {
    margin: 0 0 10px 0;
    
    .search-query {
      @include box-sizing(border-box);
      width: 300px;
      padding: 5px 10px;
    }
  }
  
  .loader {
    @include opacity(0);
    height: 5px;
    margin: 0 0 5px 0;
    
    .bar {
      @include transition-duration(0.4s);
    }
  }
  
  .list {
    width: 310px;
    height: 310px;
    overflow: auto;
    position: relative;
    
    &.loading {
      overflow: hidden;
    }
    
    ul {
      li {
        @include clearfix;
        height: 40px;
        margin: 0 0 5px 0;
        
        &:last-child {
          margin-bottom: 0;
        }
        
        &.Linkedin {
          .left {
            h1 {
              color: #71c5ef;
            }
          }
        }
        
        &.Facebook {
          .left {
            h1 {
              color: #4962a4;
            }
          }
        }
        
        &.collapsed {
          height: 0;
          margin: 0;
        }
        
        &.appear {
          @include transition(height .2s ease);
          height: 40px;
          margin: 0 0 5px 0;
        }
        
        .left {
          width: 275px;
          
          .img {
            float: left;
            width: 40px;
            height: 40px;
            margin: 0 5px 0 0;
            background: url(ico-person.png) no-repeat center center;
            background-size: 40px 40px;
          }
          
          h1 {
            @include ellipsis;
            
            margin: 5px 0 0 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 14px;
          }
          
          p {
            @include ellipsis;
            
            font-size: 14px;
            margin: 0;
          }
        }
        
        .right {
          .btn {
            margin: 9px 0 0 0;
          }
        }
      }
    }
  }
  
  .filters {
    margin: 10px 0 0 0;
    
    .btn {
      width: 101px;
    }
  }
}

.draggable-person {
  list-style: none;
  
  &.ui-draggable-dragging {
    .left {
      .img {
        width: 40px;
        height: 40px;
        background: url(ico-person.png) no-repeat center center;
        background-size: 40px 40px;
      }
      
      h1, p {
        display: none;
      }
    }
    
    .right {
      display: none;
    }
  }
}

.drop {
  #persons {
    width: 900px;
    
    .img {
      @include box-sizing(border-box);
      float: left;
      margin: 5px 0 0 5px;
      width: 40px;
      height: 40px;
      background: url(ico-person.png) no-repeat center center;
      background-size: 40px 40px;
    }
    
    .new {
      border: 1px solid #ccc;
      background: #fff;
    }
  }
}

.user-edit,
.person-edit {
  padding: 10px;
  max-width: 500px;
  
  .preview {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    
    h3 {
      margin: 0;
    }
    
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    
    .buttons {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
  
  .set {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
}
