/*
 *= require_self
 *= require bootstrap
 *= require_tree .
*/

@import "lesselements.css.less";
@import "mixins.css.less";
@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";
@import "bootstrap.css.less";

/* Config */
@color: #013f5a;

/* Beta */
.beta {
  background: #000;

  section {
    position: absolute;
    width: 340px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -125px;
    text-align: center;

    .logo {
      width: 163px;
      height: 106px;
    }

    h1 {
      color: #fff;
      margin: 25px 0 30px 0;
    }

    form {
      float: right;

      input[type="password"] {
        .rounded(15px);
        width: 260px;
        height: 30px;
        font-size: 20px;
        line-height: 34px;
        border: 0;
        color: #000;

        &:focus {
          border: 0;
          .box-shadow(inset 0 1px 15px #cbecf9);
        }
      }

      input[type="submit"] {
        background: none;
        border: 0;
        color: #fff;
        padding: 3px 0 0 10px;
        font-size: 110%;
      }
    }
  }
}

/* Errors */
.application {
  background: #fff;
  
  .error {
    .clearfix();
    width: 600px;
    margin: 50px auto;
    color: #026590;
    
    @media (max-width: 767px) {
      width: 90%;
    }
    
    .left {
      float: left;
      width: 137px;
      
      img {
        width: 137px;
      }
      
      @media (max-width: 767px) {
        display: none;
      }
    }
    
    .right {
      float: right;
      width: 400px;
      
      @media (max-width: 767px) {
        width: 100%;
      }
      
      .msg {
        a {
          color: #026590;
          text-decoration: underline;
          
          &:hover {
            text-decoration: none;
          }
        }
        
        h1 {
          color: #026590;
          margin: 0 0 20px 0;
          padding: 0;
          font-size: 34px;
          line-height: 34px;
        }
        
        p {
          font-family: @lightSansFontFamily;
          font-size: 24px;
          line-height: 30px;
          margin: 0 0 10px 0;
          padding: 0;
        }
      }
      
      .charts {
        width: 70% !important;
        margin: 20px auto;
        float: left;
        
        .item {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}

/* Common */
html, body { height: 100%; }
body {
  background: url(bg.png) repeat center center;
  background-size: 96px 96px;
  color: #494b4d;
  
  @media (max-width: 767px) {
    padding: 0 !important;
  }
  
  h1, h2, h3, h4, h5, h6, strong, b {
    font-family: @sansFontFamily;
  }
  
  h1 {
    color: @color;
    font-size: 34px;
    line-height: 34px;
    
    a {
      text-decoration: none;
      color: @color;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  .wrapper {
    width: 86%;
    max-width: 1400px;
    margin: 0 auto;
    .clearfix();
    
    @media (max-width: 767px) {
      width: 96%;
    }
  }
  
  header, section, footer {
    position: relative;
  }
  
  header {
    height: 96px;
    .at2x('bg-header.png', 1px, 96px);
    /*.gradient(#013f5a, #006590, #013f5a);*/
    color: #fff;
    font-size: 22px;
    
    @media (max-width: 767px) {
      height: 44px;
      
      .span8 {
        width: 60% !important;
        float: left !important;
      }
      
      .span6 {
        width: 80% !important;
        float: left !important;
      }
      
      .span4 {
        width: 30% !important;
        float: right !important;
        overflow: hidden;
      }
      
      .span3{
        width: 10% !important;
        float: left !important;
        
        .table {
          text-align: center;
          
          .settings {
            padding-left: 0;
          }
        }
      }
    }
    
    .table {
      display: table;
      width: auto;
      height: 96px;
      margin: 0;
      
      .cell {
        display: table-cell;
        vertical-align: middle;
      }
      
      @media (max-width: 767px) {
        height: 44px;
        
        &.buttons {
          float: right;
        }
      }
    }
    
    a {
      color: #fff;
      line-height: 36px;
      
      &:hover {
        color: #fff;
      }
      
      @media (max-width: 767px) {
        line-height: 16px;
      }
    }
    
    figure {
      position: relative;
      float: left;
      height: 41px;
      margin: 24px 0 0 7px;
      
      .icon {
        img {
          width: 63px;
          height: 41px;
        }
      }
      
      @-webkit-keyframes rotate {
        from { -webkit-transform: rotate(180deg); }
        to { -webkit-transform: rotateY(360deg); }
      }
      
      @-moz-keyframes rotate {
        from { -moz-transform: rotate(180deg); }
        to { -moz-transform: rotate(360deg); }
      }
      
      @-o-keyframes rotate {
        from { -o-transform: rotate(180deg); }
        to { -o-transform: rotate(360deg); }
      }
      @-ms-keyframes rotate {
        from {-ms-transform: rotate(180deg); }
        to { -ms-transform: rotateY(360deg); }
      }
      
      .saving {
        position: absolute;
        display: block;
        left: 22px;
        top: 14px;
        width: 19px;
        height: 19px;
        background: url(ico-loading.png) no-repeat center center;
        background-size: 19px 19px;
        -webkit-animation: rotate 1s linear infinite 0s;
        -moz-animation: rotate 1s linear infinite 0s;
        -o-animation: rotate 1s linear infinite 0s;
        -ms-animation: rotate 1s linear infinite 0s;
        animation: rotate 1s linear infinite 0s;
      }
      
      .popover {
        width: 230px;
        text-align: center;
      }
      
      img {
        width: 246px;
        height: 41px;
      }
      
      @media (max-width: 767px) {
        height: 22px;
        margin: 11px 0 0 5px;
        
        .icon {
          img {
            width: 32px;
            height: 22px;
          }
        }
        
        img {
          width: 123px;
          height: 22px;
        }
        
        .saving {
          left: 12px;
          top: 9px;
          width: 9px;
          height: 9px;
          background-size: 9px 9px;
        }
      }
    }
    
    .title {
      h1 {
        display: inline-block;
        margin: 13px 0 0 11px;
        color: #fff;
        font-family: @lightSansFontFamily;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 340px;
        
        @media (max-width: 1090px) {
          max-width: 270px;
        }
        @media (max-width: 915px) {
          max-width: 200px;
        }
        @media (max-width: 767px) {
          max-width: 300px;
          font-size: 21px;
          line-height: 21px;
          margin: 10px 0 0 11px;
        }
        @media (max-width: 500px) {
          max-width: 220px;
        }
        @media (max-width: 320px) {
          max-width: 150px;
        }
      }
      
      img {
        width: 19px;
        height: 19px;
        margin: -6px 0 0 6px;
      }
      
      @media (max-width: 767px) {
        a {
          display: inline !important;
        }
        
        .hidden-phone {
          display: none !important;
        }
        
        img {
          width: 19px;
          height: 14px;
        }
      }
    }
    
    .slogan {
      display: block;
      margin: 44px 0 0 32px;
      float: left;
      font-family: @lightSansFontFamily;
      font-size: 25px;
      color: #fff;
    }
    
    .controls {
      padding: 6px 0 0 0;
      height: 90px;
      
      .create {
        img {
          width: 35px;
          height: 35px;
          margin-top: -4px;
        }
      }
      
      @media (max-width: 767px) {
        padding: 3px 0 0 0;
        height: 41px;
        
        .create {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    
    .box {
      .box-sizing();
      margin: 0 0 0 10px;
      .rounded(5px);
      .gradient(#016c99, #02638c, #0077a9);
      border: 2px solid #fff;
      padding: 3px 8px 2px 8px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: @lightSansFontFamily;
    }
    
    aside.table {
      text-align: right;
      width: 100%;
      padding: 6px 0 0 0;
      height: 90px;
      
      .profile {
        button {
          width: 192px;
          height: 32px;
          background: url(btn-linkedin.png);
          background-size: 192px 32px;
          border: 0;
          padding: 0;
        }
        
        .sign_out {
          text-transform: none;
        }
        
        .settings {
          padding-left: 10px;
          
          img {
            margin-top: -4px;
            width: 34px;
            height: 34px;
          }
        }
      }
      
      @media (max-width: 767px) {
        padding: 3px 0 0 0;
        height: 41px;
        
        .profile {
          text-align: left;
          padding-left: 10px;
          
          button {
            width: 96px;
            height: 16px;
            background-size: 96px 16px;
          }
          
          .settings {
            padding-left: 0;
            
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
  
  section {
    @media (max-width: 767px) {
      .clearfix();
    }
  }
  
  footer {
    background: #79c3e2;
    
    .row-fluid {
      margin: 42px 0 0 0;
      
      .item {
        .inner {
          .gradient(#97DEF7, #97DEF7, #C8EEFC);
          .box-sizing();
          .rounded(10px);
          .box-shadow(inset 0px 0 10px rgba(255,255,255,0.3));
          border: 1px solid rgba(255,255,255,.6);
          padding: 10% 5%;
          width: 94%;
          margin: 0 3%;
          text-align: center;
          
          p {
            color: #01405a;
            font-family: @lightSansFontFamily;
            font-size: 26px;
            line-height: 32px;
          }
        }
        
        @media (max-width: 767px) {
          margin: 20px 0;
          
          br {
            display: none;
          }
          
          .inner {
            padding: 2% 5%;
          }
        }
        
        @media (min-width: 768px) {
          &:first-child {
            .inner {
              margin-left: 0;
            }
          }
          
          &:last-child {
            .inner {
              margin-left: 10%;
            }
          }
        }
      }
    }
    
    .nav {
      padding: 38px 0 30px 0;
      
      li {
        &:last-child {
          a:hover {
            text-decoration: none;
          }
        }
        
        a {
          font-family: @lightSansFontFamily;
          color: #fff;
          padding: 0 12px;
          
          &:first-child {
            padding-left: 0;
          }
          
          &:hover {
            background: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  /* Shared */
  .alert {
    display: table;
    width: 100%;
    height: 100%;
    
    h1 {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: #A13224;
    }
  }
  
  .loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    .opacity(75);
    z-index: 1011;
    
    .bar {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -32px;
      margin-left: -32px;
    }
  }
  
  /* Autocomplete */
  .-sew-list-container {
    .box-sizing();
    background: white;
    border: 1px solid #bac8cf;
    min-width: 200px;
    max-width: 300px;
    margin: 0;
    padding: 0;
    
    .-sew-list {
      list-style: none;
      margin: 0;
      padding: 0;
      
      .-sew-list-item {
        display: block;
        padding: 3px 6px 3px 6px;
        margin: 0;
        color: #01405a;
        
        &.selected {
          background: #f0f0f0;
        }
        
        img {
          float: left;
          width: 30px;
          height: 30px;
          padding-right: 6px;
        }
        
        h3 {
          font-size: 16px;
          line-height: 17px;
          margin: 0;
        }
        
        p {
          font-size: 12px;
          line-height: 14px;
          margin: 0;
          max-width: 260px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  
  /* Breadcrumb */
  .show-breadcrumb {
    display: none;
    z-index: 1010;
    font-size: 16px;
    color: #01405a;
    text-decoration: none !important;
    border-bottom: 1px solid #d4dadd;
    
    @media (max-width: 767px) {
      display: block;
      position: fixed;
      top: 12px;
      left: 42px;
    }
  }
  
  .hide-breadcrumb {
    display: none;
    width: 20px;
    height: 16px;
    z-index: 1010;
    
    @media (max-width: 767px) {
      position: absolute;
      top: 12px;
      left: 7px;
    }
    
    @media (min-width: 768px) {
      display: none !important;
    }
  }
  
  .breadcrumb {
    .gradient(#02364d, #04425d, #012f43);
    .rounded(0px);
    height: 45px;
    margin: 0;
    padding: 0 35px;
    
    li {
      font-size: 22px;
      line-height: 46px;
      color: #e9eff2;
      text-shadow: none;
      
      &.active {
        font-size: 22px;
        line-height: 46px;
        color: #e9eff2;
        text-shadow: none;
        
        a {
          border-bottom: 1px solid #95a6af;
          text-decoration: none;
          
          &:hover {
            border: 0;
          }
        }
      }
      
      .divider {
        font-size: 18px;
        color: #e9eff2;
        text-shadow: none;
        padding: 0 12px;
      }
      
      a {
        font-size: 22px;
        line-height: 46px;
        color: #e9eff2;
        text-shadow: none;
        text-decoration: none;
        border: 0;
        
        &:hover {
          border-bottom: 1px solid #95a6af;
        }
      }
    }
    
    @media (max-width: 767px) {
      .box-sizing(border-box);
      display: none;
      height: 0;
      background: #e9eff2;
      padding: 0 35px 0 42px;
      
      &.showing {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
      
      li {
        display: block;
        line-height: 40px;
        height: 40px;
        
        .divider {
          display: none;
        }
        
        a {
          color: #01405a !important;
          text-decoration: none !important;
          border-bottom: 1px solid #95a7b1 !important;
        }
      }
    }
  }
  
  /* Popover */
  .popover {
    .rounded(10px);
    position: absolute;
    background: #e9eff2;
    border: 4px solid #04415b;
    color: #013044;
    width: 200px;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    
    .before {
      border-top: 10px solid transparent;
      border-left: 8px solid #04415b;
      content: '';
      top: -12px;
      height: 0;
      margin-left: 2px;
      left: 50%;
      position: absolute;
      width: 0;
    }
    
    .after {
      border-top: 10px solid transparent;
      border-right: 8px solid #04415b;
      content: '';
      top: -12px;
      height: 0;
      margin-left: -6px;
      left: 50%;
      position: absolute;
      width: 0;
    }
    
    .list {
      a {
        border-bottom: 4px solid #04415b;
        display: block;
        padding: 10px;
        color: #013044;
        font-size: 20px;
        text-decoration: none;
        
        &:active {
          background: #fff;
        }
        
        &:first-child {
          .border-radius(8px 8px 0 0);
        }
        
        &:last-child {
          .border-radius(0 0 8px 8px);
          border: 0;
        }
      }
    }
  }
  
  /* Pages */
  &.pages {
    background: #fff;
    
    .page {
      width: 90%;
      max-width: 750px;
      margin: 3% auto;
      
      h1 {
        color: #026590;
        font-size: 40px;
        line-height: 46px;
        margin: 20px 0;
      }
      
      h2 {
        color: #026590;
        font-size: 30px;
        line-height: 36px;
        margin: 20px 0;
      }
      
      p {
        color: #000;
        font-size: 21px;
        line-height: 26px;
      }
    }
  }
}

.charts {
  width: 93% !important;
  margin: 35px auto;
  
  @media (max-width: 767px) {
    margin: 0 auto;
    
    &:first-child {
      margin: 15px auto 0 auto;
    }
    
    &:last-child {
      margin: 0 auto 15px auto;
    }
  }
  
  .item {
    @media (max-width: 767px) {
      margin: 0 0 20px 0;
    }
    
    .inner {
      .box-sizing();
      .rounded(10px);
      padding: 12px;
      min-height: 234px;
      background: #fff2ce;
      text-align: center;
      
      &.create {
        border: 3px solid #fff2ce;
        .at2x('btn-create.png', 35px, 35px);
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
      }
      
      &.placeholder {
        border: 3px solid #fff2ce;
        background: #fff;
      }
      
      h1 {
        margin-top: 1px;
      }
      
      .img {
        display: table;
        width: 100%;
        height: 130px;
        margin: 0 0 15px 0;
        
        a {
          display: table-cell;
          vertical-align: middle;
          
          img {
            max-width: 95%;
            max-height: 130px;
          }
        }
      }
      
      p {
        margin: 0;
        color: @color;
        font-size: 14px;
        
        a {
          img {
            width: 9px;
            height: 9px;
            margin-top: -1px;
            padding-left: 1px;
          }
        }
      }
    }
  }
}

.chart {
  float: left;
  position: relative;
  width: 100%;
  height: 600px;
  
  /* Columns */
  .left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    min-width: 400px;
    overflow: hidden;
    height: 600px;
    background: #e9eff2;
    
    @media (max-width: 767px) {
      .cc-rotate(180deg);
      .cc-rolling();
      
      width: 100% !important;
      min-width: 320px !important;
      z-index: 1;
      
      .editor {
        width: 100% !important;
        min-width: 320px !important;
      }
    }
  }
  
  .right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 400px;
    border-left: 1px solid #b7c6cd;
    
    @media (max-width: 767px) {
      .cc-rotate(0deg);
      .cc-rolling();
      
      left: 0 !important;
      border: 0;
      /*z-index: 0;*/
    }
  }
  
  @media (max-width: 767px) {
    .cc-perspective(767px);
    
    &.editing {
      .right {
        .cc-rotate(-180deg);
      }
      
      .left {
        .cc-rotate(0deg);
      }
    }
  }
  
  .btn-divider {
    position: absolute;
    width: 13px;
    height: 50px;
    left: 400px;
    top: 50%;
    margin-top: -25px;
    border: 0;
    background: url(btn-divider.png) no-repeat left top;
    background-size: 13px 50px;
    cursor: pointer;
  }
  
  /* Canvas */
  .canvas {
    .box-sizing();
    .rounded(5px);
    position: relative;
    height: 600px;
    background: url(bg.png) #fff repeat center center;
    background-position: fixed;
    background-size: 96px 96px;
    
    #canvas {
      margin: 0 auto;
      
      div {
        width: 100%;
        
        &:last-child {
          /*overflow-x: hidden;*/
        }
      }
    }
  }
  
  /* Editor */
  .show-editor, .hide-editor {
    display: none;
    width: 20px;
    height: 16px;
    z-index: 1010;
    
    @media (max-width: 767px) {
      display: block;
      position: fixed;
      top: 12px;
      left: 7px;
    }
  }
  
  .editor {
    width: 400px;
    min-width: 400px;
    
    h3 {
      padding: 0;
      margin: 0 0 10px 0;
    }
    
    .buttons {
      margin: 12px 0 12px 35px;
      height: 20px;
      
      .btn {
        height: 20px;
        line-height: 10px;
        text-transform: uppercase;
        font-size: 12px;
        padding: 4px 6px;
        color: #01405a;
        text-shadow: none;
        .gradient(#e2eaee, #d2dee3, #f5f8fa);
        .rounded(3px);
        border: 1px solid #b2c5cf;
        box-shadow: none;
        margin-right: 5px;
        
        &:hover {
          .gradient(#e2eaee, #d2dee3, #e2eaee);
        }
        
        &.selected{
          .gradient(#e2eaee, darker(#d2dee3, 20), darker(#e2eaee, 20));
        }
        
        span {
          &.r {
            display: inline-block;
            .rotate(90deg);
          }
        }
      }
    }
    
    .text {
      .clearfix();
      position: absolute;
      overflow: auto;
      top: 44px;
      bottom: 0px;
      width: 100%;
      
      ul {
        .box-sizing();
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        width: 35px;
        margin: 0;
        padding: 0;
        -webkit-padding-start: 0;
        list-style: none;
        list-style-type: none;
        
        li {
          .box-sizing();
          padding: 0 15px 0 15px;
          text-align: right;
          line-height: 24px;
          font-size: 12px;
          font-family: @lightSansFontFamily;
          color: #01405a;
        }
      }
      
      form {
        margin: 0;
      }
      
      .edit {
        .box-sizing();
        .box-shadow(none);
        display: block;
        float: right;
        width: 100%;
        padding: 0 0 0 35px;
        margin: 0;
        background: none;
        border: 0;
        line-height: 24px;
        font-size: 18px;
        color: #01405a;
        
        -moz-tab-size: 2;
        -o-tab-size: 2;
        -webkit-tab-size: 2;
        tab-size: 2;
      }
      
      .edit-sample {
        -moz-tab-size: 2;
        -o-tab-size: 2;
        -webkit-tab-size: 2;
        tab-size: 2;
      }
    }
    
    input[type="submit"] {
      margin: 10px 0;
    }
  }
}

