.contents {
  /* Organization page */
  .organization {
    padding: 20px 0 0 0;
    
    .is-sticky {
      .sidebar {
        .sections {
          display: none;
        }
      }
    }
    
    .sidebar {
      @include box-sizing(border-box);
      
      background: #f6f6f6;
      width: 100%;
      padding: 15px;
      position: relative;
      
      .header {
        h1 {
          margin: 0;
        }
        
        p, textarea {
          margin: 10px 0 5px 0;
          font-size: 16px;
          line-height: 20px;
          color: #575756;
        }
        
        .picture {
          position: relative;
          
          img {
            width: 100%;
            min-height: 60px;
          }
          
          .upload {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -15px;
            
            .file-upload {
              @include opacity(0);
              
              position: absolute;
              top: 0;
              left: 0;
              max-width: 100%;
            }
          }
        }
        
        textarea {
          @include box-sizing(border-box);
          @include box-shadow(none);
          @include input-placeholder(#878787, normal, italic);
          
          width: 100%;
          padding: 0;
          background: none;
          border: 0;
        }
      }
      
      .sections {
        ul {
          margin: 0;
          
          li {
            line-height: 32px;
            
            a {
              color: #575756;
              font-size: 20px;
              font-weight: bold;
              
              &:hover {
                color: #575756;
              }
            }
            
            .btn {
              color: #575756;
              font-weight: normal;
            }
          }
        }
        
        .edit {
          border-top: 1px solid #575756;
          margin: 10px 0 0 0;
          padding: 10px 0 0 0;
          
          p {
            margin: 0;
          }
          
          ul {
            margin: 0;
            
            li {
              line-height: 28px;
              
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    
    .inner {
      @include box-sizing(border-box);
      padding: 10px 20px;
      
      .widget {
        &.text {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }
  
  /* Widgets page */
  .constructor {
    margin-bottom: 20px;
    
    .area {
      @include box-sizing(border-box);
      
      .heading {
        margin: 0;
        padding: 10px 20px;
        font-size: 22px;
        font-style: italic;
        line-height: 26px;
        color: #c6c6c6;
      }
      
      .contents {
        min-height: 62px;
        
        .ui-sortable-placeholder {
          @include box-sizing(border-box);
          
          min-height: 60px;
          line-height: 60px;
          margin: 0 0 10px 0;
          background: #f6f6f6;
          border: 1px solid #dadada;
          color: #c6c6c6;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          
          i {
            margin-right: 10px;
          }
          
          &.text {
            margin: 10px 20px;
          }
          
          &.picture {
            min-height: 300px;
            line-height: 300px;
          }
          
          &.chart {
            min-height: 270px;
            line-height: 270px;
          }
          
          &.split {
            margin: 0 20px;
            min-height: 10px;
            line-height: 10px;
          }
        }
        
        .widget {
          @include box-sizing(border-box);
          
          position: relative;
          margin: 10px 0;
          
          .form {
            margin: 0;
            
            input, textarea, select {
              @include box-sizing(border-box);
              @include input-placeholder(#c6c6c6, normal, italic);
              
              margin: 0;
              width: 100%;
              min-height: 60px;
              font-size: 18px;
            }
          }
          
          .buttons {
            position: absolute;
            top: 0;
            right: 0;
            
            a {
              font-size: 18px;
              color: #575756;
              
              &:hover {
                text-decoration: none;
              }
            }
          }
          
          /* Types */
          &.text {
            .form {
              padding: 0 20px;
              
              textarea {
                @include box-shadow(none);
                
                padding: 0;
                background: none;
                border: 0;
              }
            }
          }
          
          &.picture {
            @include box-sizing(border-box);
            
            padding: 20px;
            background: #f6f6f6;
            border: 1px dashed #dadada;
            
            .selected {
              min-height: 100px;
              position: relative;
              overflow: hidden;
              
              .file-upload {
                @include opacity(0);
                
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
              
              .actions {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -10px;
                margin-left: -132px;
                
                color: #fff;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                
                i {
                  margin-right: 10px;
                }
              }
            }
            
            .buttons {
              top: 36px;
              right: 32px;
              
              a {
                color: #fff;
              }
            }
          }
          
          &.chart {
            @include box-sizing(border-box);
            @include clearfix;
            
            min-height: 270px;
            padding: 20px;
            background: #f6f6f6;
            border: 1px solid #dcdcdc;
            
            h3 {
              margin: 0 0 8px 0;
              color: #575756;
              font-size: 18px;
              line-height: 24px;
            }
            
            .left {
              float: left;
              width: 60%;
              
              .btn-select-view {
                margin: 0 0 8px 0;
              }
              
              .selected {
                position: relative;
                max-width: 80%;
                
                .btn-action {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  margin-top: -15px;
                  margin-left: -82px;
                }
              }
            }
            
            .right {
              float: right;
              width: 40%;
              
              ul {
                li {
                  line-height: 32px;
                  font-size: 16px;
                  font-weight: 300;
                  
                  a {
                    color: #575756;
                  }
                }
              }
            }
            
            .buttons {
              top: 16px;
              right: 12px;
            }
          }
          
          &.split {
            padding: 0 0 10px 0;
            margin: 10px 20px 0 20px;
            height: 1px;
            border-top: 1px solid #008d36;
            
            .form {
              display: none;
            }
            
            .buttons {
              right: -40px;
              top: -11px;
            }
          }
        }
      }
    }
  }
  
  .widgets {
    .widget {
      @include box-sizing(border-box);
      
      padding: 15px;
      margin: 0 0 2px 0;
      cursor: pointer;
      background: #f6f6f6;
      font-size: 16px;
      
      &.title {
        color: #575756;
        font-weight: normal;
        
        i {
          color: #c6c6c6;
        }
      }
      
      &:not(.title) {
        color: #575756;
        font-weight: bold;
        
        i {
          margin-right: 10px;
        }
      }
      
      &.ui-draggable-active {
        background: none;
        color: #dadada;
      }
      
      &.ui-draggable-dragging {
        color: #008d36;
      }
      
      &.ui-draggable-over {
        background: #008d36;
        color: #fff;
      }
      
      &.header {
        font-weight: bold;
      }
    }
  }
}
