.contents {
  /* Organization page */
  .organization {
    padding: 20px 0 0 0;
    
    .is-sticky {
      .sidebar {
        .sections {
          display: none;
        }
      }
    }
    
    .sidebar {
      @include box-sizing(border-box);
      
      background: #f6f6f6;
      width: 100%;
      padding: 15px;
      position: relative;
      
      .header {
        h1 {
          margin: 0;
        }
        
        p, textarea {
          margin: 10px 0 5px 0;
          font-size: 14px;
          line-height: 18px;
          color: #575756;
        }
        
        .btn-upload {
          position: absolute;
          left: 15px;
          top: 30px;
        }
        
        textarea {
          @include box-sizing(border-box);
          @include box-shadow(none);
          @include input-placeholder(#878787, normal, italic);
          
          width: 100%;
          padding: 0;
          background: none;
          border: 0;
        }
      }
      
      .sections {
        ul {
          margin: 0;
          
          li {
            line-height: 32px;
            
            a {
              color: #575756;
              font-size: 16px;
              font-weight: bold;
              
              &:hover {
                color: #575756;
              }
            }
          }
        }
        
        .edit {
          border-top: 1px solid #575756;
          margin: 10px 0 0 0;
          padding: 10px 0 0 0;
          
          p {
            margin: 0;
          }
          
          ul {
            margin: 0;
            
            li {
              line-height: 28px;
              
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  
  /* Widgets page */
  .constructor {
    .area {
      @include box-sizing(border-box);
      border-top: 3px solid #ccc;
      
      span {
        color: #ccc;
      }
      
      .contents {
        margin: 10px 0 10px 0;
        min-height: 10px;
        
        .ui-state-highlight {
          @include box-sizing(border-box);
          border-top: 50px solid #ccc;
        }
        
        .widget {
          position: relative;
          margin: 5px 0;
          padding: 5px;
          border: 1px solid #ccc;
          background: #fff;
          
          .form {
            margin: 10px 0 0 0;
            
            input, textarea, select {
              @include box-sizing(border-box);
              width: 100%;
              margin: 0 0 5px 0;
              border: 1px solid #ccc;
            }
          }
          
          .buttons {
            position: absolute;
            top: 5px;
            right: 5px;
          }
        }
      }
    }
  }
  
  .widgets {
    .widget {
      @include box-sizing(border-box);
      
      padding: 15px;
      margin: 0 0 2px 0;
      cursor: pointer;
      background: #f6f6f6;
      font-size: 16px;
      
      &.title {
        color: #575756;
        font-weight: normal;
        
        i {
          color: #c6c6c6;
        }
      }
      
      &:not(.title) {
        color: #575756;
        font-weight: bold;
        
        i {
          margin-right: 10px;
        }
      }
      
      &.ui-draggable-active {
        background: none;
        color: #dadada;
      }
      
      &.ui-draggable-dragging {
        color: #008d36;
      }
      
      &.ui-draggable-over {
        background: #008d36;
        color: #fff;
      }
      
      &.header {
        font-weight: bold;
      }
    }
  }
}
