.persons {
  @include box-sizing(border-box);
  min-height: 600px;
  
  .form-search {
    position: relative;
    margin: 20px 20px 0 20px;
    
    .control-group {
      margin: 0;
    }
    
    input {
      @include box-sizing(border-box);
      @include box-shadow(none);
      @include border-radius(7px);
      @include input-placeholder(#aaa);
      width: 100%;
      height: 45px;
      line-height: 45px;
      border-color: #cdcdcd;
      border-width: 2px 0 0 0;
      color: #aaa;
      font-size: 18px;
      font-weight: 300;
      padding: 0 0 0 40px;
      
      &:focus {
        @include box-shadow(none);
        border-color: #cdcdcd;
      }
    }
    
    button {
      position: absolute;
      top: 11px;
      left: 11px;
      width: 22px;
      height: 23px;
      border: 0;
      padding: 0;
      margin: 0;
      background: none;
      
      i {
        font-size: 22px;
      }
    }
  }
  
  .loader {
    @include opacity(0);
    height: 5px;
    margin: 10px 20px;
    
    .bar {
      @include background(linear-gradient(top center, #008d36, #01af43));
      @include transition-duration(0.4s);
    }
  }
  
  .list {
    @include box-sizing(border-box);
    
    width: 100%;
    padding: 0 10px;
    overflow: auto;
    position: relative;
    
    &.loading {
      overflow: hidden;
    }
    
    ul {
      li {
        @include box-sizing(border-box);
        @include clearfix;
        
        height: 60px;
        padding: 10px;
        
        &:last-child {
          margin-bottom: 0;
        }
        
        &.Linkedin {
          .left {
            h1 {
              color: #71c5ef;
            }
          }
        }
        
        &.Facebook {
          .left {
            h1 {
              color: #4962a4;
            }
          }
        }
        
        &.collapsed {
          height: 0;
          margin: 0;
        }
        
        &.appear {
          @include transition(height .2s ease);
          height: 40px;
          margin: 0 0 20px 0;
        }
        
        .left {
          width: 90%;
          
          .img {
            float: left;
            width: 40px;
            height: 40px;
            margin: 0 10px 0 0;
            background: url(ico-person.png) no-repeat center center;
            background-size: 40px 40px;
          }
          
          h1 {
            @include ellipsis;
            
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
            color: #575756 !important;
          }
          
          p {
            @include ellipsis;
            
            font-size: 16px;
            margin: 0;
          }
        }
        
        .right {
          .btn {
            margin: 9px 0 0 0;
          }
        }
      }
    }
  }
  
  .filters {
    display: none;
    margin: 10px 0 0 0;
    
    .btn {
      width: 101px;
    }
  }
}

.draggable-person {
  list-style: none;
  
  &.ui-draggable-dragging {
    @include box-sizing(border-box);
    
    height: 60px;
    padding: 10px;
    background: #dadada;
    
    .left {
      width: 90%;
      
      .img {
        float: left;
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
        background: url(ico-person.png) no-repeat center center;
        background-size: 40px 40px;
      }
      
      h1 {
        @include ellipsis;
        
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: #575756 !important;
      }
      
      p {
        @include ellipsis;
        
        font-size: 16px;
        margin: 0;
      }
    }
    
    .right {
      display: none;
    }
  }
}

.drop {
  #persons {
    width: 900px;
    
    .img {
      @include box-sizing(border-box);
      float: left;
      margin: 5px 0 0 5px;
      width: 40px;
      height: 40px;
      background: url(ico-person.png) no-repeat center center;
      background-size: 40px 40px;
    }
    
    .new {
      border: 1px solid #ccc;
      background: #fff;
    }
  }
}

.user-edit,
.person-edit {
  padding: 10px;
  max-width: 500px;
  
  .preview {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    
    h3 {
      margin: 0;
    }
    
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    
    .buttons {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
  
  .set {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
}
