/* Layout */
header {
  @include box-sizing(border-box);
  height: 130px;
  background: #e8e8e8;
  border-bottom: 1px solid #eeeeee;
  
  .logo, .title {
    float: left;
    height: 64px;
    margin: 33px 0 0 30px;
    
    img {
      width: 96px;
      height: 64px;
      vertical-align: top;
    }
    
    h1 {
      display: inline-block;
      margin: 0 0 0 22px;
      line-height: 64px;
      vertical-align: top;
      font-size: 44px;
      font-weight: 300;
      color: #000;
      
      strong {
        @include ellipsis;
        
        display: inline-block;
        max-width: 320px;
      }
      
      .arrow {
        display: inline-block;
        position: relative;
        top: -3px;
        padding: 0 0 0 7px;
        font-size: 30px;
      }
    }
  }
  
  .organization {
    display: none;
  }
  
  .title {
    position: relative;
    margin: 33px 0 0 14px;
    
    h1 {
      @include ellipsis;
      
      max-width: 250px;
      margin-left: 0;
    }
    
    form {
      display: none;
      margin: 0;
      
      input {
        @include box-sizing(border-box);
        @include box-shadow(none);
        @include border-radius(7px);
        @include input-placeholder(#aaa);
        width: 250px;
        height: 64px;
        line-height: 64px;
        border-color: #cdcdcd;
        border-width: 2px 0 0 0;
        color: #aaa;
        font-size: 22px;
        font-weight: 300;
        padding: 0 0 0 10px;
        
        &:focus {
          @include box-shadow(none);
          border-color: #cdcdcd;
        }
      }
    }
  }
  
  .controls {
    display: none;
    float: left;
    height: 64px;
    margin: 33px 0 0 30px;
    
    a {
      display: inline-block;
      margin: 0 20px 0 0;
      line-height: 64px;
      vertical-align: top;
      font-size: 44px;
      font-weight: 300;
      color: #000;
      
      &:last-child {
        margin-right: 0;
      }
      
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  .search {
    float: left;
    position: relative;
    height: 64px;
    margin: 33px 0 0 0;
    
    form {
      margin: 0;
      
      input {
        @include box-sizing(border-box);
        @include box-shadow(none);
        @include border-radius(7px);
        @include input-placeholder(#aaa);
        width: 394px;
        height: 64px;
        line-height: 64px;
        border-color: #cdcdcd;
        border-width: 2px 0 0 0;
        color: #aaa;
        font-size: 22px;
        font-weight: 300;
        padding: 0 0 0 60px;
        
        &:focus {
          @include box-shadow(none);
          border-color: #cdcdcd;
        }
      }
      
      button {
        position: absolute;
        top: 17px;
        left: 15px;
        width: 30px;
        height: 30px;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        
        i {
          font-size: 29px;
        }
      }
    }
  }
  
  .profile {
    float: right;
    width: 72px;
    height: 72px;
    margin: 29px 20px 0 0;
  }
  
  .menu {
    float: right;
    width: 72px;
    height: 72px;
    margin: 29px 20px 0 0;
    
    img {
      width: 72px;
      height: 72px;
    }
    
  }
}

.navigation-overlay {
  @include opacity(0.5);
  display: none;
  background: #000;
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.navigation {
  @include box-sizing(border-box);
  display: none;
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  padding: 25px 30px;
  background: #f6f6f6;
  border-bottom: 1px solid #eeeeee;
  z-index: 2;
  
  ul {
    margin-bottom: 20px;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    li {
      line-height: 40px;
      font-size: 22px;
      font-weight: 300;
      color: #575756;
      
      &.header {
        font-weight: bold;
        
        a {
          font-weight: bold;
        }
      }
      
      a {
        color: #575756;
        
        &:hover {
          color: #575756;
        }
      }
      
      span {
        font-weight: normal;
      }
      
      .arrow {
        padding: 0 5px;
        font-style: normal;
      }
    }
  }
}

footer {
  @include box-sizing(border-box);
  height: 265px;
  background: #dadada;
  border-top: 15px solid #ededed;
  
  .left-side {
    padding: 0 0 0 25px;
  }
  
  .right-side {
    padding: 0 25px 0 0;
    text-align: right;
    
    .h2 {
      &:not(first-child) {
        margin-left: 25px;
      }
    }
  }
  
  .span3, .span6 {
    padding-top: 25px;
  }
  
  h2, .h2 {
    margin: 0;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    color: #000;
    
    &:hover {
      color: #000;
    }
  }
  
  ul {
    margin: 35px 0 0 0;
    
    li {
      line-height: 36px;
      
      &.icons {
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
      
      a {
        color: #706f6f;
        font-size: 22px;
        font-weight: 300;
        
        &:hover {
          color: #706f6f;
        }
      }
    }
  }
}

/* Buttons */
.btn {
  &.btn-try {
    @include background(linear-gradient(top center, #f9eed9, #f3dcaf));
    border: 1px solid #c4b890;
    color: #008d36;
    text-shadow: none;
    
    &.btn-large {
      padding: 15px 25px;
      font-size: 28px;
    }
    
    &:hover {
      @include background(linear-gradient(top center, #f6e4c3, #f3dcaf));
      color: #008d36;
    }
  }
}

/* Pages */
.grid {
  @include box-sizing(border-box);
  min-height: 60%;
  padding: 20px;
  background: url(bg-grid.png) repeat center center;
}

.welcome {
  .buttons {
    text-align: center;
  }
  
  .samples {
    margin: 30px 0 0 0;
    text-align: center;
    
    &:last-child {
      margin-bottom: 30px;
    }
    
    h1 {
      font-weight: normal;
      font-size: 60px;
      line-height: 90px;
    }
    
    .btn {
      margin-top: 35px;
    }
  }
}
