<div class="organization container">
  <div class="row">
    <div class="span3">
      <%= render partial: "/organizations/sidebar" %>
    </div>
    <div class="span9">
      <ul>
        <% @nodes.each do |node| %>
        <li><%= link_to node.title, organization_chart_path(@organization, node) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
