<div class="organization container">
  <div class="row">
    <div class="span3">
      <%= render partial: "/organizations/sidebar" %>
    </div>
    <div class="span9 inner">
      <h1><%= params[:page].humanize %></h1>
      <% @widgets.each do |widget| %>
        <% next if widget.split? %>
        <div class="widget <%= widget.type %>">
          <%= render partial: "/widgets/#{widget.type}", locals: { organization: @organization, widget: widget } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
