<div class="organization container">
  <div class="row">
    <div class="span3">
      <%= render partial: "/organizations/sidebar" %>
    </div>
    <div class="span9">
      <h1><%= t("organizations.no_charts") %></h1>
    </div>
  </div>
</div>
